* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container-l {
    width: 87%;
    margin: auto;
}

.col-sm {
    width: 100%;
}

.flex-l {
    display: block;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/****************************************** HEADER *****************************************************/

header {
    background: url(/assets/img/bg.jpg);
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.logo {
    width: 80px;
}

nav {
    display: none;
}

.hamburger {
    font-size: 30px;
    color: white;
}

.tittle-container {
    width: 38%;
    margin-top: 40%;
    margin-left: 20px;
    margin-bottom: 58%;
    font-size: 1.7em;
    color: white;
}

.scroll-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.scroll {
    font-size: 1.2em;
    color: white;
    margin-left: 20px;
}

.arrow {
    margin-left: 2px;
    margin-top: 5px;
}

/***************************************************** FIRST SECTION ************************************/


.content {
    text-align: center;
    margin-top: 80px;
}

.icon-content {
    color: #ADD981;
    font-size: 60px;
}

.content p {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    width: 280px;
}

/***************************************************** SECOND SECTION ************************************/

.container-l h2 {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e5e493;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.relative {
    position: relative;
}

.price h3 {
    font-size: 25px;
    font-weight: 300;
}

.price p {
    font-size: 12px;
}

.hover {
    display: none;
}

.white-space {
    margin: 0;
}

/****************************************** FOOTER *****************************************************/

footer {
    padding-top: 60px;
}

footer p {
    padding: 20px 0;
    font-size: 1.2em;
}

@media screen and (min-width: 768px) {
    
    .col-sm {
        width: 24%;
    }

    .flex-l {
        display: flex;
    }

/****************************************** HEADER *****************************************************/

    /* header {
        height: 100vh;
    } */

    nav {
        display: block;
    }

    .logo {
        width: 200px;
    }

    .hamburger {
        display: none;
    }

    .logo-link {
        justify-content: start;
    }

    ul {
        display: flex;
    }

    li {
        margin-left: 40px;
    }

    nav li a {
        color: white;
        font-size: 1.2em;
    }

    .tittle-container {
        width: 25%;
        margin-top: 5%;
        margin-left: 100px;
        margin-bottom: 12%;
        font-size: 2.5em;
    }
    
    .scroll-container {
        display: flex;
        align-items: center;
        margin-left: 100px;
    }

/****************************************** FIRST SECTION *****************************************************/

    .js-space-around {
        justify-content: space-around;
    }

    .content p {
        margin-left: 60px;
    }

/***************************************************** SECOND SECTION ************************************/

    .container-l h2 {
        text-align: start;
    }

    .white-space {
        margin-left: 10px;
    }

    .hover-animation{
        overflow: hidden;
    }

    .hover p {
        font-size: 2em;
        margin-top: 50%;
    }

    .hover-animation:hover .hover {
        transform: translateX(0);
        opacity: 1;
    }

    .hover {
        transform: translateX(-400px);
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(245, 239, 239);
        text-align: center;
        z-index: 2;
        opacity: 0;
        transition: all 0.8s ease-out;
        cursor: pointer;
    }

/******************************************** TROISIEME SECTION ************************************/
    .small-img {
        height: 67%;
    }

    .big-container {
        width: 50%;
}

    .small-container {
        height: 629px;
    }

    .flex-1 {
        height: 754px;
        width: 50%;
    }

/****************************************** FOOTER *****************************************************/

    .footer-flex {
        justify-content: space-between;
    }
}